In [17]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [18]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'],index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

데이터프레임을 만들기 위해서 딕셔너리를 데이터프레임 클래스에 인자로 전달해야합니다

In [19]:
scientists = pd. DataFrame({
    'Name' : ['Rosaline Franklin', 'Wiliam Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37,61]}
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1      Wiliam Gosset  Statistician  1876-06-13  1937-10-16   61

데이터프레임의 인자에는 data, index, columns를 받는다.

In [24]:
scientists = pd.DataFrame(
    data={
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37,61]
    },
    index=['Rosaline Franklin', 'Wiliam Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died'],
)
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
Wiliam Gosset      Statistician  1876-06-13   61  1937-10-16

데이터프레임에서 인덱스로 시리즈를 불러오려면 loc[] 이용

In [26]:
first_row = scientists.loc['Wiliam Gosset']
print(first_row)

Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: Wiliam Gosset, dtype: object

In [27]:
#index, values, keys 사용하기
print(first_row.index)
print(first_row.values)
print(first_row.keys())
print(first_row.index[0])
print(first_row.keys()[0])

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
['Statistician' '1876-06-13' 61 '1937-10-16']
Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
Occupation
Occupation

In [22]:
#시리즈의 mean, min, max, std 메서드 사용하기

ages = scientists['Age']
print(ages)
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

Rosaline Franklin    37
Wiliam Gosset        61
Name: Age, dtype: int64
49.0
37
61
16.97056274847714

In [31]:
#boolean 추출 이용하기
scientists = pd.read_csv('./data/scientists.csv')
ages = scientists['Age']
print(ages.max())
print(ages.mean())
print("ages[ages > ages.mean()] 결과")
print(ages[ages > ages.mean()])
print("ages > ages.mean() 결과")
print(ages > ages.mean())
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

90
59.125
ages[ages > ages.mean()] 결과
1    61
2    90
3    66
7    77
Name: Age, dtype: int64
ages > ages.mean() 결과
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [32]:
#시리즈와 브로드캐스팅 (벡터 원소별 일괄적용)
print(ages + ages)
print(ages * ages)
print(ages + 100)
print(ages * 2)
# 길이가 다르면 가능한 인덱스 끼리만
print(pd.Series([1,100])) #길이가 2임
print(ages + pd.Series([1,100]))
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0      1
1    100
dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [33]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])
print(scientists.loc[[True, True, False, True, False, False, False, False]])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician
                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [35]:
#데이터 타입 바꾸기
#테이터 파입 조회
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

print("데이터 타입 변경 후")
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(born_datetime)
print(died_datetime)

print("새로운 열 추가하기 전")
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())
print(scientists.shape)

print("새로운 열 추가하기 후")
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

object
object
데이터 타입 변경 후
0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]
새로운 열 추가하기 전
                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14
(8, 7)
새로운 열 추가하기 후
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [38]:
# 데이터 셔플
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    61
1    41
2    66
3    56
4    37
5    45
6    77
7    90
Name: Age, dtype: int64

/opt/anaconda3/lib/python3.12/random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
/opt/anaconda3/lib/python3.12/random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
/opt/anaconda3/lib/python3.12/random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
/opt/anaconda3/lib/python3.12/random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
/opt/anaconda3/lib/python3.12/random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
/opt/anaconda3/lib/python3.12/random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
/opt/anaconda3/lib/python3.12/random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
/opt/anaconda3/lib/python3.12/random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
/opt/anaconda3/lib/python3.12/random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
/opt/anaconda3/lib/python3.12/random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
/opt/anaconda3/lib/python3.12/random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
/opt/anaconda3/lib/python3.12/random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
/opt/anaconda3/lib/python3.12/random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
/opt/anaconda3/lib/python3.12/random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [40]:
# 열 삭제하기
print(scientists.columns)
print("삭제 후")
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')
삭제 후
Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [43]:
# 피클 형식으로 저장
names = scientists['Name']
names.to_pickle('./output/scientists_names_series.pickle')

scientists.to_pickle('./output/scientists_df.pickle')

scientist_names_from_pickle = pd.read_pickle('./output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

scientist_from_pickle = pd.read_pickle('./output/scientists_df.pickle')
print(scientist_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   41        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   66               Nurse
3           Marie Curie  1867-11-07  1934-07-04   56             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   37           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   77  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   90       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [45]:
# csv, tsv 파일로 저장
names.to_csv('./output/scientist_names_series.csv')
scientists.to_csv('./output/scientists_df.tsv', sep='\t')